<div class="container">
    <div class="toolbar">
        <button mat-flat-button (click)="updateSize(1)">+</button>
        <button mat-flat-button (click)="updateSize(-1)">-</button>
    </div>
    <div *ngFor="let x of this.array(matrixSize); index as i" class="col">
        <div class="row">
            <div *ngFor="let y of this.array(matrixSize + 1); index as j" class="combine">
                <div>
                    <input type="number" *ngIf="j < matrixSize" [value]="0" (change)="assign(i, j, $event)">
                    <input type="number" *ngIf="j == matrixSize" [value]="this.outs[i]" (change)="assignOut(i, $event)">
                </div>
                <span [mathjax]="symbol(j)"></span>
            </div>
        </div>
    </div>
    <br />
    <div class="toolbar">
        <button mat-flat-button (click)="runGauss()">Solve using Gauss-Jordan</button>
        <button mat-flat-button (click)="runLU()">Solve using LU Decomposition</button>
    </div>
    <app-latex-card *ngIf="this.showOut" [latex]="outLatex" [name]="name">

    </app-latex-card>
</div>