.grapher-container {
    padding:10px;
    display: flex;
    height: 100%;
    flex-direction: row;
    gap:10px;
}

.left-card {
    width:30%;
}

.buttons-container {
    // padding:15px 0px 0px 15px;
    margin-bottom: 15px;
}

.right-card {
    flex-grow: 1;
}

.box {
    height: 87%;
}

.mathfield {
    flex-grow: 1;
}

.equation-row {
    display: flex;
    gap:5px;
    flex-direction: row;
    margin-bottom: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}